<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Women's March NOW</title>


		<!-- Bootstrap CSS -->
 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

 		 <!-- Custom CSS -->
    	<link rel="stylesheet" href="../style.css">

    	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">


  </head>
  <body>
  	<!-- 	<div class="jumbotron vertical-center" id="maintitle">
	  		<div class="col-md-10 col-md-offset-1 center">
	  			<img src="sitetitle.png" alt="header" style="width:100%">
	  		</div>
  		</div> -->
  		
  		<div class="container">

  		<div class="jumbotron vertical-center" id="maintitle">
	  		<div class="col-md-10 col-md-offset-1 center">
	  			<img src="sitetitle.png" alt="header" style="width:100%">
	  		</div>
  		</div>

		<div class="row" >
	    	<div class="col-md-4 col-md-offset-1" id="submit">
					<h3>Want to add your own video? </h3>
					<h4>Follow these steps</h4>
					<br>

					<ol>
						<li>Create a Facebook Live Video</li>
						<li>Make it Public</li>
						<li>On your home page, find your video</li>
						<li>Click the arrow in the upper right hand corner</li>
						<li>Click embed</li>
						<li>Copy and paste the iframe into the box below!</li>
					</ol>

					<br>
					<p>Your Video: </p>
		  			<input type="text" id="fb_vid" name="fname" style="width:90%">
		  			<br>
		  			<p>Your city: </p>
		  			<input type="text" id="city" style="width:90%">
		  			<br>
					<input class = "button" type="submit" value="Submit" style="width:60%" onclick="test()">			
			</div>

	    	<div class="col-md-7" id="allvideos">

				<script type="text/javascript">
					function test(){
						var submitText = document.getElementById("submitted");
						submitText.hidden = false;

			   			var city = document.getElementById("city").value;
			   			var p = document.createElement('p');
			   			p.innerHTML = city;
			   			document.body.appendChild(p);

			   			var v = document.getElementById("fb_vid").value;
			   			var div = document.createElement('div');
			   			div.innerHTML = v;
			   			// div.id= "videoholder";
			   			// div.class= "col-md-6 centered"; 
			   			var element = div.firstChild;
			   			element.id = "videoholder";
			   			element.class = "col-md-6 centered"; 
			   			// document.body.appendChild(div);
						var videodiv = document.getElementById("allvideos");
			   			videodiv.appendChild(p);
			   			videodiv.appendChild(div);

   			// clear out text fields
   			document.getElementById('fb_vid').value = '';
   			document.getElementById('city').value = '';
		}
		</script>
		</div>

		<p hidden id="submitted">Submitted!</p>
		
		</div>


	</div>


</body>
